/*light theme*/
body{
	background-color:#fff;
	background-image: url('./images/noise.png'),url('./images/inertia-bg.png');
	box-shadow:inset 0px 2px 20px #000;
}


header,footer{
	color:#FFF;
	background: #cbcbcb;
	font-family:arial;
	font-weight:bold;
}

header{

	background:linear-gradient(to bottom, #f4c126 40%,#f47d26 100%);
	font-size:2em;
	padding:5px 20px;
	display:inline-block;
	border: solid #FFF 3px;
	border-radius: 10px;
	box-shadow: 0px 2px 15px #000;
	position: relative;
	top:-10px;
	left:10px;
}

footer{
	text-align:right;
	background: orange;
}


presentation-title{
	color:#c25708;
	text-shadow:0px 1px 0px #873b03;
}

slide{
	background-color:#FFF;
}

h1,h2,h3,h4,h5,h6{
	color:#c25708;
}


