presentation-title{
	position:absolute;
	bottom:30%;
	left:5%;
	font-size:60px;
}

author{
	position:absolute;
	bottom:25%;
	left:5%;
	font-size:40px;
}


p,h1,h2,h3,h4,h5,h6{
	margin:5px 20px;
}

p{
	font-size:25px;
}

.center{
	text-align:center;
}

.hey{
	position:absolute;
	bottom:10%;
	right:10%;
}
