/*light theme*/
body{
	background-image:url('./images/inertia-bg.png'),url('./images/noise.png');
	background-color:#424242;
}


header,footer{
	margin:5px;
	color:#424242;
	font-family:arial;
	font-weight:bold;
}

header{
	font-size:2em;
	background:#424242;
	color:#FFF;
	padding:5px 20px;
	display:inline-block;
	box-shadow:0px 2px 10px #000;
	border-radius:5px;
	border:solid #FFF 3px;
}

footer{
text-align:right;
}


presentation-title{
	color:#424242;
	text-shadow:0px 1px 0px gray;
}

slide{
	background-color:#E5E5E5;
}
