.head{
	font-family:arial;
	font-size:55px;
	text-shadow:0px 2px 15px #424242;
	color:#5C105C;
	padding:5px;
	text-align:center;
}

.par{
	font-family:arial;
	font-size:35px;
	padding:5px 50px;
	color:#424242;
	text-shadow:0px 1px 15px gray;
}

.big{
	font-size:50px;
	text-shadow:0px 1px 15px #424242;
	padding:50px 100px;
}

.bigger{
	font-size:40px;
	padding:10px 50px;
	text-shadow:0px 1px 15px gray;
}
.bigger1{
	font-size:45px;
	padding:10px 50px;
	text-shadow:0px 1px 15px gray;
}
