/*light theme*/
body{
	background:url('./images/inertia-bg.png'),url('./images/noise.png');
}

slide{
	background-color:#FFF;
}

header,footer{
	margin:5px;
	color:#424242;
	font-family:arial;
	font-weight:bold;
}

header{
font-size:2em;
}

footer{
text-align:right;
}

